In [8]:
import pandas as pd
import numpy as np

In [27]:
df=pd.DataFrame([[1,2,3],[2,2,5]], columns=["c1", "c2", "c3"], index=["r1","r2"])

In [37]:
df.c1.apply(lambda x: x+1)

r1    2
r2    3
Name: c1, dtype: int64

In [30]:
df

    c1  c2  c3
r1   1   2   3
r2   2   2   5